
@{
    ViewBag.Title = "Videos";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}

<h2>Videos</h2>

<table class="table" id="table_videos">
    <thead>
        <tr>
            <th>
                Tên video
            </th>
            <th>
                Ngày đăng tải
            </th>
            <th>
                Tác giả
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
</table>