
@{
    ViewBag.Title = "Images";
    Layout = "~/Areas/Admin/Views/Shared/_layout_Admin.cshtml";
}

<h2>Images</h2>
<table class="table" id="table_images">
    <thead>
        <tr>
            <th>
                Tên hình
            </th>
            <th>
                Ngày đăng tải
            </th>
            <th>
                Tác giả
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
</table>
